static/n8n-email-workflow.json
{
  "name": "Expense Manager - Email to Expense",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false
      },
      "id": "imap-trigger",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [240, 300],
      "credentials": {
        "imap": {
          "id": "",
          "name": "IMAP Account - CONFIGURE THIS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "sender-filter",
              "leftValue": "={{ $json.from }}",
              "rightValue": "REPLACE_WITH_BANK_SENDER_EMAIL",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-sender",
      "name": "Filter Bank Emails",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REPLACE_WITH_APP_URL/api/drafts/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "REPLACE_WITH_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.html || $json.textHtml || $json.text || '' }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "send-to-app",
      "name": "Send to Expense Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Filter Bank Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Bank Emails": {
      "main": [
        [
          {
            "node": "Send to Expense Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "expense-manager"
    }
  ],
  "triggerCount": 1
}
